



.carousel-wrapper{
    display: flex;
    width: 100%;    
    align-items: center;
    gap:100px;
}

.image-wrappwer{
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(234, 232, 232, 0.05); 
}

.image{
    width:600px;
    height: 400px;
    /* transition: transform 0.3s; */
}